@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{


   
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()


        var user = User.Identity.GetUserId();


<link href = "~/css/bootstrap.min.css" rel = "stylesheet" />

        <ul class="nav navbar-nav navbar-right">
            <li>
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    حسابك
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item">Hello   @User.Identity.GetUserName() !</a><br />
                    @Html.ActionLink("Your Profile ", "MainProfile", "Account", new { Id = user }, new { @class = "dropdown-item" })<br />
                    <a class="" href="~/Drugfinds/Index">الادوية المطلوبة </a><br />
                    <a class="dropdown-item" href="~/Drugs/Create">بيع دواء</a><br />
                    <div class="dropdown-divider"></div><br />
                    <a class="dropdown-item" href="javascript:document.getElementById('logoutForm').submit()">Log off</a>
                </div>
            </li>

        </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
        <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}
