@model IEnumerable<Pharmacita.Models.Category>
@{
    ViewBag.Title = "الصفحة الرئيسية";
}

<div class="jumbotron alert alert-info ">
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>


    @foreach (var item in Model)
    {
        <div class="panel panel-info " style="padding:15px;">
            <div class="panel panel-heading"> <h1 >@Html.DisplayFor(modelItem => item.CategoryName) <img  style="width:50px;height:50px;" src="~/upload/@Html.DisplayFor(modelItem => item.CategoryIcon) " /></h1></div> 
            <div class="row panel-body ">
                @foreach (var subitem in item.drugs)
                {
                    <div class="col-md-4  thumbnail" style="padding-right:15px;">
                        <h1>@Html.DisplayFor(modelItem => subitem.DrugName)</h1>
                        <img class="thumbnail " style="width:200px;height:200px;" src="~/upload/@Html.DisplayFor(modelItem => subitem.DrugImage)" />
                        <h3> @Html.DisplayFor(modelItem => subitem.DrugDescribtion)</h3>
                        <h3>%@Html.DisplayFor(modelItem => subitem.Off) الخصم</h3>
                        <h3>@Html.DisplayFor(modelItem => subitem.Price) السعر بالمصري</h3>

                        @Html.ActionLink("للشراء و التفاصيل ", "Details", new { Id = subitem.Id }, new { @class = "btn btn-primary" })
                    </div>
                }
            </div>
           
        </div> 
    }