@model IEnumerable<Pharmacita.Models.Drug>

@{
    ViewBag.Title = "Search";
}

<h2>Search</h2>

<div panel panel-default>
   
        <h1 class="panel-heading">نتائج البحث</h1>
        <div class="panel-body">
            @foreach (var subitem in Model)
            {
                <div class="col-md-4">
                    <h2>@Html.DisplayFor(modelItem => subitem.DrugName)</h2>
                    <img class="thumbnail " src="~/upload/@Html.DisplayFor(modelItem =>subitem.DrugImage)" />
                    <p>@Html.DisplayFor(modelItem => subitem.DrugDescribtion)</p>
                    <p>@Html.DisplayFor(modelItem => subitem.Quantity)</p>
                    <p>@Html.DisplayFor(modelItem => subitem.Expire)</p>
                    <p>@Html.DisplayFor(modelItem => subitem.Off)</p>
                    <p>@Html.DisplayFor(modelItem => subitem.Price)</p>

                    @Html.ActionLink("اشتري ", "Details", new { Id = subitem.Id }, new { @class = "btn btn-primary" })
                </div>
            }
        </div>
    
</div> 