@model IEnumerable<Pharmacita.Models.Drug>

@{
    ViewBag.Title = "Search";
}



<div panel panel-default>
   
        <h1 class="panel-heading">نتائج البحث</h1>
        <div class="panel-body">
            @foreach (var subitem in Model)
            {
                <div class="col-md-4 thumbnail" >
                    <h2 style="font-size:25px;">@Html.DisplayFor(modelItem => subitem.DrugName) الاسم</h2>
                    <img class="thumbnail " src="~/upload/@Html.DisplayFor(modelItem =>subitem.DrugImage)"  />
                    <p style="font-size:25px;">@Html.DisplayFor(modelItem => subitem.DrugDescribtion) الوصف</p>
                    <p style="font-size:25px;">@Html.DisplayFor(modelItem => subitem.Quantity) الكميه</p>
                    <p style="font-size:25px;">@Html.DisplayFor(modelItem => subitem.Expire) تاريخ الانتهاء</p>
                    <p style="font-size:25px;">% @Html.DisplayFor(modelItem => subitem.Off) الخصم</p>
                    <p style="font-size:25px;">@Html.DisplayFor(modelItem => subitem.Price) السعر بالمصري</p>

                    @Html.ActionLink("اشتري ", "Details", new { Id = subitem.Id }, new { @class = "btn btn-primary" })
                </div>
            }
        </div>
    
</div> 