@model IEnumerable<Pharmacita.Models.Drug>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.category.CategoryName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.User.ProfilePic)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DrugName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DrugDescribtion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Quantity)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DrugImage)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Expire)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Off)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.category.CategoryName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.User.ProfilePic)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DrugName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DrugDescribtion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Quantity)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DrugImage)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Expire)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Off)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Price)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
