@model Pharmacita.Models.ApplicationUser
@using Pharmacita.Models
@using Microsoft.AspNet.Identity
    @{
        ViewBag.Title = "البروفايل";
    }

    <h2>Profile</h2>
@{
    var user = User.Identity.GetUserId();
}
<br />
<div class="container">
    <div class="row profile">
        <div class="col-md-3">
            <div class="profile-sidebar">
                <!-- SIDEBAR USERPIC -->
                <div class="profile-userpic">
                    <img src="~/upload/@Html.DisplayFor(model => model.ProfilePic)" class="thumbnail img-responsive"   style="height :300px;width :300px;" alt="" />
                </div>
                <!-- END SIDEBAR USERPIC -->
                <!-- SIDEBAR USER TITLE -->
               
                <!-- END SIDEBAR USER TITLE -->
                <!-- SIDEBAR BUTTONS -->
              
                <!-- END SIDEBAR BUTTONS -->
                <!-- SIDEBAR MENU -->
                @{ 
                    if (user==Model.Id )
                    {


                <div class="profile-usermenu">
                    <ul class="nav">
                        
                        <li>
                            <a href="~/Home/GetDrugsBySeller">
                                <i class="glyphicon glyphicon-user"></i>
                                طلبات شراء الادوية الخاصة بك 
                            </a>
                            <a href="~/Home/GetDrugsByUser">
                                <i class="glyphicon glyphicon-user"></i>
                                طلبات الشراء المقدمة من طرفك
                            </a>
                            <a href="~/Drugs/Create">
                                <i class="glyphicon glyphicon-user"></i>
                                اعرض دواء للبيع
                            </a>
                           
                              <a>@Html.ActionLink("تغيير كلمة السر", "ChangePassword", "Manage")</a>  
                           
                           
                        </li>
                       
                       
                    </ul>
                </div>
                    }
                }
                <!-- END MENU -->
            </div>
        </div>
        <div class="col-md-9">
            <div class="profile-content">
                <div class="profile-usertitle">
                    <div class="profile-usertitle-name" style="font-size:25px;">
                        @Html.DisplayFor(model => model.UserName)  الإسم 
                    </div>
                    <div class="profile-usertitle-name" style="font-size:25px;">
                        0 @Html.DisplayFor(model => model.Mobile)    الموبايل
                    </div>
                    <div class="profile-usertitle-name" style="font-size:25px;">
                        @Html.DisplayFor(model => model.Address)     العنوان
                    </div>
                    <div class="profile-usertitle-name" style="font-size:25px;">
                        @Html.DisplayFor(model => model.Email)   الايميل
                    </div>
                    
                <div>
                  
                </div>
                </div>
            </div>
        </div>
    </div>
</div>

<br>
<br>